<nav>
    <div class="dropdown-group">
        <button class="dropdown-toggle" id="menu-btn-lenders">Kölcsönzők<span class="triangle-down"></span></button>
        <div class="dropdown-menu">
            @Html.ActionLink("Kölcsönzők listázása", "Index", "Lenders")
            @Html.ActionLink("Hozzám rendelt kölcsönzők listázása", "MyLenders", "Lenders")
            @if (User.IsInRole("SiteAdmin"))
            {
                @Html.ActionLink("Új kölcsönző felvétele", "Create", "Lenders")
            }
        </div>
    </div>
    @if (User.IsInRole("SiteAdmin"))
    {
        <div class="dropdown-group">
            <button class="dropdown-toggle" id="menu-btn-users">Felhasználók<span class="triangle-down"></span></button>
            <div class="dropdown-menu">
                @Html.ActionLink("Felhasználók listázása", "Index", "Users")
                @Html.ActionLink("Site adminisztrátorok listázása", "SiteAdminsList", "Users")
                @Html.ActionLink("Összerendeletlen felhasználók listázása", "UnassignedList", "Users")
                @Html.ActionLink("Jóváhagyásra váró felhasználók listázása", "UnapprovedList", "Users")
                @Html.ActionLink("Kitiltott felhasználók listázása", "BannedList", "Users")
            </div>
        </div>
    }
    <div class="dropdown-group">
        <button class="dropdown-toggle" id="menu-btn-zones">Veszélyes zónák<span class="triangle-down"></span></button>
        <div class="dropdown-menu">
            @Html.ActionLink("Veszélyes zónák listázása", "Index", "Zones")
            @Html.ActionLink("Veszélyes zónák térképe", "ShowMap", "Zones")
            @Html.ActionLink("Új veszélyes zóna felvétele", "Create", "Zones")
        </div>
    </div>
    <div class="dropdown-group">
        <button class="dropdown-toggle" id="menu-btn-bikes">Kerékpárok<span class="triangle-down"></span></button>
        <div class="dropdown-menu">
            @Html.ActionLink("Kerékpárok listázása", "Index", "Bikes")
            @Html.ActionLink("Szabad kerékpárok listázása", "FreeList", "Bikes")
            @if (Request.Cookies.Get("favourite_lender") != null)
            {
                @Html.ActionLink("Kölcsönözhető kerékpárok listázása", "FreeList", "Bikes", htmlAttributes: new { id = Request.Cookies.Get("favourite_lender").Value })
            }
            @Html.ActionLink("Foglalt kerékpárok listázása", "BusyList", "Bikes")
            @Html.ActionLink("Veszélyes zónában lévő kerékpárok listázása", "DangerousList", "Bikes")
            @Html.ActionLink("Foglalt kerékpárok mutatása térképen", "ShowMap", "Bikes")
            @Html.ActionLink("Kerékpár kölcsönzése", "Lend", "Bikes")
            @if (User.IsInRole("SiteAdmin"))
            {
                @Html.ActionLink("Használaton kívüli kerékpárok listázása", "UnusedList", "Bikes")
                @Html.ActionLink("Új kerékpár felvétele", "Create", "Bikes")
            }
        </div>
    </div>
    <div class="dropdown-group">
        <button class="dropdown-toggle" id="menu-btn-invoices">Számlák<span class="triangle-down"></span></button>
        <div class="dropdown-menu">
            @Html.ActionLink("Számlák listázása", "Index", "Invoices")
            @Html.ActionLink("Lezáratlan számlák listázása", "ActiveSessions", "Invoices")
            @Html.ActionLink("Kifizetetlen, lezárt számlák listázása", "ClosedSessions", "Invoices")
            @Html.ActionLink("Számla kifizetése", "CloseSession", "Invoices")
            @Html.ActionLink("Nyomtatók listázása", "Index", "Printers")
            @Html.ActionLink("Nyomtató bejelentése", "Create", "Printers")
        </div>
    </div>
</nav>

@************************************@
@*  Az aktív menüpont kivilágítása  *@
@************************************@
@if (!String.IsNullOrEmpty(ViewBag.active_menu_item_id))
{
    @Html.Raw("<script>document.getElementById('"
        + ViewBag.active_menu_item_id
        + "').className += ' active';</script>");
}