@model IEnumerable<Bicikli_Admin.Models.BikeModel>
@{
    ViewBag.Title = "Foglalt kerékpárok";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() > 0)
{
    <table>
        <thead>
            <tr>
                <th class="id">
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th class="name">
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastLendingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isInDangerousZone)
                </th>
                <th class="edit-tools"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td class="name">
                        @Html.ActionLink(item.name, "Details", new { id = item.id })
                    </td>
                    <td>
                        @if (item.lastLendingDate == null)
                        {
                            @Html.Raw("-");
                        }
                        else
                        {
                            @Html.ActionLink(Html.DisplayFor(modelItem => item.lastLendingDate).ToString(), "Details", "Invoices", routeValues: new { id = item.lastSession.id }, htmlAttributes: null)
                        }
                    </td>
                    <td>
                        @if (item.isInDangerousZone)
                        {
                            @Html.Raw("<span class='ui-icon ui-icon-check' style='display: inline-block;'>Igen</span>")
                        }
                        else
                        {
                            @Html.Raw("<span class='ui-icon ui-icon-closethick' style='display: inline-block;'>Nem</span>")
                        }
                    </td>
                    <td class="edit-tools">
                        @if (item.imageUrl != null)
                        {
                            <a title="Kép" rel="clearbox" href='@Html.Raw(Url.Content("~/Content/uploads/" + item.imageUrl))'><span class='ui-icon ui-icon-image' style="display: inline-block;"></span></a>
                        }
                        <a title="Szerkesztés" href='@Url.Action("Edit", new { id = item.id })'><span class='ui-icon ui-icon-pencil' style="display: inline-block;"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Jelenleg minden kerékpár kölcsönözhető.</p>
}
@section Scripts {
    @Scripts.Render("~/Content/clearbox")
}
