@model Bicikli_Admin.Models.BikeModel
@using Bicikli_Admin.Models
@using System.Collections.Generic
@{
    ViewBag.Title = "Új kerékpár felvétele";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Bikes", new { id = Url.RequestContext.RouteData.Values["id"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Kerékpár adatai</legend>

        <table class="invisible">
            <tr>
                <td class="label-col">
                    @Html.LabelFor(model => model.name)
                </td>
                <td>
                    @Html.EditorFor(model => model.name)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(model => model.name, "(!)")</label>
                </td>
            </tr>

            <tr>
                <td class="label-col">
                    @Html.LabelFor(model => model.description)
                </td>
                <td>
                    @Html.EditorFor(model => model.description)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(model => model.description, "(!)")</label>
                </td>
            </tr>

            <tr>
                <td class="label-col">
                    <label>
                        @Html.DisplayNameFor(model => model.currentLenderId)
                    </label>
                </td>
                <td>
                    @Html.DropDownList("MyLenders")
                </td>
                <td></td>
            </tr>

            <tr>
                <td class="label-col">
                    <label>
                        @Html.DisplayNameFor(model => model.imageUrl)
                    </label>
                </td>
                <td>
                    <input type="file" name="ImgFile" id="ImgFile" />
                </td>
                <td></td>
            </tr>

            <tr>
                <td class="label-col">
                    <label>
                        @Html.DisplayNameFor(model => model.isActive)
                    </label>
                </td>
                <td>
                    @Html.EditorFor(m => m.isActive)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(model => model.isActive, "(!)")</label>
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="form-buttons">
        <button type="submit">Létrehozás</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
