@model Bicikli_Admin.Models.BikeModel
@using Bicikli_Admin.Models
@using System.Collections.Generic
@{
    ViewBag.Title = "Kerékpár törlése";
}

<h2>Biztosan törölni szeretné az alábbi kerékpárat?</h2>
<p class="message-error ui-state-error">
    <span class="ui-icon ui-icon-alert" style="display: inline-block;"></span>
    Figyelem! A művelet nem vonható vissza!
</p>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Kerékpár adatai</legend>

        <table class="invisible">
            <tr>
                <td class="label-col">
                    <span class="labellike">
                        @Html.DisplayNameFor(model => model.name)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(model => model.name)
                    @Html.HiddenFor(model => model.id)
                </td>
            </tr>



            <tr>
                <td class="label-col">
                    <span class="labellike">
                        @Html.DisplayNameFor(model => model.description)
                    </span>
                </td>
                <td>
                    @{
    string dstr = Html.Encode(Model.description ?? "-");
                        @Html.Raw(dstr.Replace(Html.Encode(Environment.NewLine), "<br />"))
                    }
                </td>
            </tr>

            <tr>
                <td class="label-col">
                    <span class="labellike">
                        @Html.DisplayNameFor(model => model.currentLenderId)
                    </span>
                </td>
                <td>
                    @if (Model.currentLenderId == null)
                    {
                        @Html.Raw("-");
                    }
                    else
                    {
                        @Html.ActionLink(Model.lender.name, "Details", "Lenders", routeValues: new { id = Model.currentLenderId }, htmlAttributes: null)
                    }
                </td>
            </tr>

            <tr>
                <td class="label-col">
                    <span class="labellike">
                        @Html.DisplayNameFor(model => model.imageUrl)
                    </span>
                </td>
                <td>
                    @if (Model.imageUrl == null)
                    {
                        @Html.Raw("Nincs");
                    }
                    else
                    {
                        <a title="Kép" rel="clearbox" href='@Html.Raw(Url.Content("~/Content/uploads/" + Model.imageUrl))'>@Html.Raw(Model.imageUrl)</a>
                    }
                </td>
            </tr>

            <tr>
                <td class="label-col">
                    <span class="labellike">
                        @Html.DisplayNameFor(model => model.isActive)
                    </span>
                </td>
                <td>
                    @if (Model.isActive)
                    {
                        @Html.Raw("Igen");
                    }
                    else
                    {
                        @Html.Raw("Nem");
                    }
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="form-buttons">
        <button type="submit">Kerékpár törlése</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/Content/clearbox")
}
