@model IEnumerable<Bicikli_Admin.Models.LenderModel>
@{
    ViewBag.Title = "Hozzám rendelt kölcsönzők";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() > 0)
{
    <table>
        <thead>
            <tr>
                <th class="id">
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th class="name">
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th class="address">
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.printer_ip)
                </th>
                <th class="edit-tools"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td class="name">
                        @Html.ActionLink(item.name, "Details", new { id = item.id })
                    </td>
                    <td class="address">
                        @{
                string dstr = Html.Encode(item.address);
                dstr = dstr.Replace("," + Html.Encode(Environment.NewLine), Html.Encode(Environment.NewLine));
                dstr = dstr.Replace(", " + Html.Encode(Environment.NewLine), Html.Encode(Environment.NewLine));
                            @Html.Raw(dstr.Replace(Html.Encode(Environment.NewLine), ", "));
                        }
                    </td>
                    <td>
                        @Html.Raw(item.printer_ip ?? "-")
                    </td>
                    <td>
                        <a title="Szerkesztés" href='@Url.Action("Edit", new { id = item.id })'><span class='ui-icon ui-icon-pencil' style="display: inline-block;"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Önhöz nincs kölcsönző rendelve.</p>
}