@model Bicikli_Admin.Models.SessionModel
@using Bicikli_Admin.Models
@using System.Collections.Generic
@{
    ViewBag.Title = "Új számla";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Ügyfél adatai</legend>

        @Html.HiddenFor(model => model.bike_id)

        <table class="invisible">
            <tr>
                <td class="label-col">
                    @Html.LabelFor(model => model.name)
                </td>
                <td>
                    @Html.EditorFor(model => model.name)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(model => model.name, "(!)")</label>
                </td>
            </tr>

            <tr>
                <td class="label-col">
                    @Html.LabelFor(model => model.address)
                </td>
                <td>
                    @Html.EditorFor(model => model.address)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(model => model.address, "(!)")</label>
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="form-buttons">
        <button type="submit">Létrehozás</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
