@model Bicikli_Admin.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Use this form to change your password.</h2>
</hgroup>

<p class="message-info">
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>

        <table class="invisible">
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword)
                </td>
                <td class="validation-col">
                    <label>(!)</label></td>
            </tr>
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                </td>
                <td class="validation-col">
                    <label>(!)</label></td>
            </tr>
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
                <td class="validation-col">
                    <label>(!)</label></td>
            </tr>
        </table>
    </fieldset>
    
    <div class="form-buttons">
        <button type="submit">OK</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
