@model Bicikli_Admin.Models.ChangePasswordModel
@{
    ViewBag.Title = "Jelszóváltoztatás";
}

<h2>@ViewBag.Title</h2>

<p class="message-info ui-state-highlight">
    <span class="ui-icon ui-icon-info" style="display: inline-block;"></span>
    Figyelem! A jelszavak hossza legalább @Membership.MinRequiredPasswordLength karakter!
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Jelszóváltoztató űrlap</legend>

        <table class="invisible">
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(m => m.OldPassword, "(!)")</label>
                </td>
            </tr>
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(m => m.NewPassword, "(!)")</label>
                </td>
            </tr>
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
                <td class="validation-col">
                    <label>@Html.ValidationMessageFor(m => m.ConfirmPassword, "(!)")</label>
                </td>
            </tr>
        </table>
    </fieldset>
    
    <div class="form-buttons">
        <button type="submit">OK</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
