@model Bicikli_Admin.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

<p class="message-info">
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>

        <table class="invisible">
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.UserName)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName)
                </td>
                <td class="validation-col">
                    <label>(!)</label></td>
            </tr>
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.Email)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email)
                </td>
                <td class="validation-col">
                    <label>(!)</label></td>
            </tr>
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                </td>
                <td class="validation-col">
                    <label>(!)</label></td>
            </tr>
            <tr>
                <td class="label-col">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
                <td class="validation-col">
                    <label>(!)</label></td>
            </tr>
        </table>
    </fieldset>
    
    <div class="form-buttons">
        <button type="submit">Regisztráció</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
